@{
    ViewData["Title"] = "About Suddenly Sleepy";
}

<div>
    <h1>Our Founder</h1>
    <h4>Andre Royal Sr.</h4>
    <blockquote>
        <p>
            I was given an ultimatum that started with a difficult move from California to Oregon. I started working in a new career
            then was newly diagnosed with narcolepsy after already experiencing other serious health issues. It was devastating. 
            Staying awake at my new job was nearly impossible during training, to the point where the tasteless teasing about falling
            asleep turned into genuine concern. It was recommended that I do a sleep study by a coworker who suffered from a sleep
            disorder. I was informed that I have textbook narcolepsy. I was shocked and dismayed that for all the specialist and 
            doctors I was seeing, and medications that were being offered - there was not a single support group for my condition. I 
            felt it important to remedy the situation if afforded the opportunity. I was desperately seeking support for myself and 
            my family to understand what we as a family were dealing with. I couldn't give my family answers and I couldn't understand 
            why none of these places that offered services didn't provide a space or platform for support groups for loved ones & 
            patients who suffered from sleep disorders to connect with each other, learn ways to manage living with this condition. 
            Due to high demands placed on  a productivity driven society  often poor sleep hygiene is romanticized. Sleep is often the 
            first thing that’s used to be indicative of laziness. Being tired is so relatable people are often dismissive of the whole 
            subject, like restful sleep is merely a luxury, rather than a quality of life issue. I wanted to shift the dialogue and 
            create opportunities to see the individual in their plight. Although I created a race, I wanted people to be able to come 
            together and go at their own pace Our suffering isn’t a competition and I wanted to show people out there that there are 
            others who care and that they truly “are not alone”, and they are not invisible.
            <br />
            &#8212; <cite>Andre Royal Sr.</cite>
        </p>
    </blockquote>
</div>
<div>
    <h1>Our Mission</h1>
    <p>
        Our mission is to create meaningful conversations around the importance of sleep, localized change, national and global 
        awareness, as well as assist in increases in workforce productivity and reduced stigma surrounding sleep seeing as how it 
        impacts quality of life.
    </p>
</div>
<div>
    <h1>Suddenly Sleepy</h1>
    <p>
        The Suddenly Sleepy 5K Sleepwalk was founded in 2018 by “Chef Andre Royal” to raise funds to help those affected by Narcolepsy 
        and various sleep disorders. In 2019 “Suddenly Sleepy” became an Oregon Nonprofit 501 (c)(3) that now provides fun and engaging 
        ways to support educational opportunities and continues to raise awareness of the importance of quality sleep. Lack of quality 
        sleep is becoming much more recognized as it affects not just those who’ve been diagnosed with sleep disorders such as 
        Narcolepsy - but is important to the overall health and wellness of the community as a whole.
    </p>
</div>
