@model SSEvent

@{
    ViewData["Title"] = "Create Event";
}

<h1>@ViewData["Title"]</h1>

<h4>SSEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminNewEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSEventName" class="control-label"></label>
                <input asp-for="SSEventName" class="form-control" />
                <span asp-validation-for="SSEventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Preview" class="btn btn-primary" />
                <input type="submit" value="Save" class="btn btn-primary" asp-route-save="save" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.thisEvent != null)
{
    <h1>If the model is valid the preview of the page will display here</h1>
    <h4>Using Event Name as example: @ViewBag.thisEvent.SSEventName</h4>
}

<div>
    <a asp-action="AdminEventManager">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
