
@{
    ViewData["Title"] = "Admin Control Index";
}


<h4><a class="navbar-brand text-dark" asp-area="" asp-controller="Admin" asp-action="AdminUserManagement">User Management</a></h4>
<h4><a class="navbar-brand text-dark" asp-area="" asp-controller="Admin" asp-action="AdminRoleManagement">Role Management</a></h4>
<h4><a class="navbar-brand text-dark" asp-area="" asp-controller="Admin" asp-action="AdminDonationRecord">Donation Management</a></h4>
<h4><a class="navbar-brand text-dark" asp-area="" asp-controller="Admin" asp-action="AdminEventManagement">Event Management</a></h4>

