@model IEnumerable<Donation>

@{
    ViewData["Title"] = "Donation History";
}

<h1>Donation History</h1>

@if (Model.Count() == 0)
{
    <h4>You have no donation history at this time.</h4>
}
else
{
    <h3>Your Donations</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-area="" asp-controller="SSUserActions" asp-action="DonationHistory" asp-route-orderBy="amount">Donation Amount</a>
                </th>
                <th>
                    <a  asp-area="" asp-controller="SSUserActions" asp-action="DonationHistory" asp-route-orderBy="default">Donation Date</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Donation donation in Model)
            {
                <tr>
                    <td>
                        @donation.DonationAmount
                    </td>
                    <td>
                        @donation.DonationDate
                    </td>
                </tr>
            }
        </tbody>
    </table>
}